@model Practice1.Entity.EmployeeModel

<style>
	.hello {
		width: 200px;
	}
</style>
<form asp-action="Add" asp-controller="Home" method="post" class="align-content-center ">
	<input asp-for="Id" type="hidden" />

	<div>
		<label>Name</label>
		<input class="form-control hello" asp-for="Name" type="text" />
	</div>

	<div>
		<label>Address</label>
		<input class="form-control hello" asp-for="address" type="text" />
	</div>

	<div>
		<label>Age</label>
		<input class="form-control hello" asp-for="Age" type="text" />
	</div>

	<div>
		<label>Department</label>
		<input class="form-control hello" asp-for="DepartMent" type="text" />
	</div>

	

	<br />
	<br />

	<button type="submit" class="btn btn-success">Submit</button>
</form>